*{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: lighter;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-box{
    background-color: #b3d6fe;
}
.content-box{
    background-color: #eaeef1;
}
.sign-up-box{
    background-color: #d7e9ff;
}
.feature-box-yellow{
    background-color: #f5cf8e;
}
.feature-box-red{
    background-color: #f09a9d;
}
.feature-box-purple{
    background-color: #c9c7f9;
}

.main-content{
    display: grid;
    width: 100vw;
    height: 100vh;
}

/* ====TABLET MEADIA QUERY==== */
@media screen and (min-width: 768px){

    .main-content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas:
        "header header"
        "content content"
        "sign-up feature-yellow"
        "feature-red feature-purple";
    }

    .header-box{
        grid-area: header;
    }
    .content-box{
        grid-area: content;
    }
    .sign-up-box{
        grid-area: sign-up;
    }
    .feature-box-yellow{
        grid-area: feature-yellow;
    }
    .feature-box-red{
        grid-area: feature-red;
    }
    .feature-box-purple{
        grid-area: feature-purple;
    }
}

/* ====DESKTOP MEADIA QUERY==== */
@media screen and (min-width: 1050px){
    .main-content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr .5fr 1fr;
        grid-template-areas:
        "header header header"
        "feature-yellow feature-purple feature-red"
        "sign-up sign-up sign-up"
        "content content content";
    }
}